.form-field-errors>span {
    color: rgb(238, 39, 39);
    padding: 5px 3px;
}

.form-field-errors {
    margin-bottom: 10px;
}

:host {
    background-color: yellow;
}

.change-password-container {
    position: absolute;
    width: 50%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.change-password-container mat-card-title h4 {
    margin: 0;
    font-family: Roboto, serif;
}