<div class="change-password-container" fxLayout fxFlexAlign="center center" fxFlex="50%">
    <mat-card fxFlex="100%">
        <mat-card-title>
            <h4>Change password</h4>
        </mat-card-title>
        <mat-card-content>
            <form [formGroup]="changePasswordFormGroup" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="chanPassgeword()">
                <mat-form-field>
                    <input matInput type="password" placeholder="old password" formControlName="oldPassword">
                </mat-form-field>
                <div class="form-field-errors" *ngIf="getFormGroupControls().oldPassword.invalid && (getFormGroupControls().oldPassword.touched || getFormGroupControls().oldPassword.dirty)">
                    <span *ngIf="getFormGroupControls().oldPassword.hasError('required')">
                        * Old password is required
                    </span>
                    <span *ngIf="getFormGroupControls().oldPassword.hasError('minlength')">
                        * Old password should be minimum 6 character length
                    </span>
                </div>

                <mat-form-field>
                    <input matInput type="password" placeholder="new password" formControlName="password">
                </mat-form-field>
                <div class="form-field-errors" *ngIf="getFormGroupControls().password.invalid && (getFormGroupControls().password.touched || getFormGroupControls().password.dirty)">
                    <span *ngIf="getFormGroupControls().password.hasError('required')">
                        * New password is required
                    </span>
                    <span *ngIf="getFormGroupControls().password.hasError('minlength')">
                        * New password should be minimum 6 character length
                    </span>
                </div>

                <div class="form-field-errors" *ngIf="changePasswordFormGroup.invalid && changePasswordFormGroup.hasError('matchOldAndNewPassword')">
                    <span>* {{changePasswordFormGroup.errors['matchOldAndNewPassword']}}</span>
                </div>

                <mat-form-field>
                    <input matInput type="password" placeholder="confirm password" formControlName="confirmPassword">
                </mat-form-field>
                <div class="form-field-errors" *ngIf="getFormGroupControls().confirmPassword.invalid && (getFormGroupControls().confirmPassword.touched || getFormGroupControls().confirmPassword.dirty)">
                    <span *ngIf="getFormGroupControls().confirmPassword.hasError('required')">
                        * Confirm password is required
                    </span>
                    <span *ngIf="getFormGroupControls().confirmPassword.hasError('minlength')">
                        * Confirm password should be minimum 6 character length
                    </span>
                </div>
                <div class="form-field-errors" *ngIf="changePasswordFormGroup.invalid && changePasswordFormGroup.hasError('mismatchConfirmPassword')">
                    <span>* {{changePasswordFormGroup.errors['mismatchConfirmPassword']}}</span>
                </div>
                <div>
                    <button mat-raised-button [disabled]="!changePasswordFormGroup.valid">Update</button>
                    <button mat-raised-button (click)="changePasswordFormGroup.reset()" type="button">Reset</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>