<div>
    <mat-card>
        <mat-card-title>
            <h4>Supplier list</h4>
        </mat-card-title>
        <mat-card-content>
            <div>
                <table mat-table [dataSource]="supplierDataSource">

                    <ng-container matColumnDef="sno">
                        <th mat-header-cell *matHeaderCellDef>Sno</th>
                        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
                    </ng-container>


                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Name</th>
                        <td mat-cell *matCellDef="let element">{{element.name}}</td>
                    </ng-container>

                    <ng-container matColumnDef="regno">
                        <th mat-header-cell *matHeaderCellDef>Reg no</th>
                        <td mat-cell *matCellDef="let element">{{element.regNumber}}</td>
                    </ng-container>

                    <ng-container matColumnDef="mobile">
                        <th mat-header-cell *matHeaderCellDef>Mobile</th>
                        <td mat-cell *matCellDef="let element">{{element.mobile}}</td>
                    </ng-container>

                    <ng-container matColumnDef="address">
                        <th mat-header-cell *matHeaderCellDef>Address</th>
                        <td mat-cell *matCellDef="let element">{{element.address}}</td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>Actions</th>
                        <td mat-cell *matCellDef="let element">
                            <div fxLayout fxLayoutAlign="space-around center" fxLayoutGap="15px">
                                <button type="button" mat-flat-button><mat-icon>edit</mat-icon></button>
                                <button type="button" mat-flat-button><mat-icon>visibility</mat-icon></button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let row; columns:columnsToDisplay"></tr>
                </table>
            </div>
        </mat-card-content>
    </mat-card>
</div>