<div class="messaging-dialog" fxLayout="column" fxLayoutAlign *ngIf="message && message.messages.length > 0">
    <div fxLayout fxLayoutAlign="space-between center">
        <div class="message-header">
            <p>Messages</p>
        </div>
        <div class="message-closer-btn-container">
            <button mat-fab (click)="closeModel()"><mat-icon>close</mat-icon></button>
        </div>
    </div>
    <ul>
        <li *ngFor="let message of message.messages"> {{message}}</li>
    </ul>
</div>