<div class="product-list-container" fxLayout="column" fxFlexGap="20px" fxLayoutAlign="space-around center">
    <div class="product-list-search-container">
        <div class="text-right" *ngIf="!isSearchContainerOpend">
            <button mat-flat-button (click)="addProduct()">Add product</button>
            <button mat-flat-button (click)="openSearchContainer()">Search</button>
        </div>
        <div *ngIf="isSearchContainerOpend">
            <app-search-product></app-search-product>
        </div>
    </div>
    <div>
        <!-- <table mat-table [dataSource]="products">
            <ng-container matColumnDef="sno">
                <th mat-header-cell *matHeaderCellDef> # </th>
                <td mat-cell *matCellDef="let element; let i = index">{{i+1}}</td>
            </ng-container>
            <ng-container matColumnDef="sno">
                <th mat-header-cell *matHeaderCellDef> # </th>
                <td mat-cell *matCellDef="let element; let i = index">{{i+1}}</td>
            </ng-container>
            <ng-container matColumnDef="sno">
                <th mat-header-cell *matHeaderCellDef> # </th>
                <td mat-cell *matCellDef="let element; let i = index">{{i+1}}</td>
            </ng-container>
        </table> -->
    </div>
</div>