.example-full-width {
    width: 100%;
}

.outer-shell {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

mat-card {
    background-image: url('../../assets/img/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

mat-card-footer {
    margin: 0px;
}

mat-card-footer>div {
    padding: 5px 0px;
}