<div fxLayout="column" fxLayoutAlign="flex-start stretch">
    <div>
        <h2>Purchase order</h2>
    </div>
    <form [formGroup]="purchaseOrderFormGroup" (ngSubmit)="savePurcaseOrder()">
        <input type="hidden" formControlName="status">
        <!-- <input type="text" formControlName="testQty"> {{purchaseOrderFormGroupControl['testQty'].status}} -->
        {{purchaseOrderFormGroupControl['items'].status}}
        <div fxLayout="row wrap" fxLayoutAlign="stretch center" fxLayoutGap="20px">
            <div fxFlex="calc(50% - 20px)">
                <mat-form-field appearance="outline">
                    <mat-label>Purchase Order Code</mat-label>
                    <input matInput formControlName="purchaseOrderCode" placeholder="Purchase Order Code">
                    <mat-error *ngIf="purchaseOrderFormGroupControl['purchaseOrderCode'].invalid && (purchaseOrderFormGroupControl['purchaseOrderCode'].dirty || purchaseOrderFormGroupControl['purchaseOrderCode'].pristine)">
                        <span *ngIf="purchaseOrderFormGroupControl['purchaseOrderCode'].hasError('required')">Purchase order code is required</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="calc(50% - 20px)">
                <mat-form-field appearance="outline">
                    <mat-label>Supplier</mat-label>
                    <mat-select formControlName="supplier" (selectionChange)="openAddProductDialog($event)">
                        <mat-option value="">--select status--</mat-option>
                        <mat-option [value]="supplier.id" *ngFor="let supplier of suppliers;">{{supplier.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="purchaseOrderFormGroupControl['supplier'].invalid && (purchaseOrderFormGroupControl['supplier'].dirty || purchaseOrderFormGroupControl['supplier'].pristine)">
                        <span *ngIf="purchaseOrderFormGroupControl['supplier'].hasError('required')">Supplier is required</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <div formArrayName="items" fxFlex="calc(100% - 40px)">
                <table>
                    <thead>
                        <th>sno</th>
                        <th>name</th>
                        <!-- <th>category</th> -->
                        <th class="min-width">Required Qty</th>
                        <th class="min-width">Unit price</th>
                        <th class="min-width">Total</th>
                        <th>action</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items.controls; let i = index" [formGroupName]="i">
                            <td class="full-width">{{ i + 1}}</td>
                            <td>
                                <div formGroupName="product">
                                    <input type="hidden" formControlName="id">
                                    <input type="text" class="full-width no-border-input" formControlName="name" readonly>
                                </div>
                            </td>
                            <!-- <td>
                                <input type="text" disabled placeholder="Ordered Qty" />
                            </td> -->
                            <td>
                                <input type="text" class="full-width" formControlName="orderedQty" placeholder="Ordered Qty" />
                            </td>
                            <td>
                                <input type="text" onlyTwoDecimalInput class="full-width" formControlName="unitPrice" placeholder="Unit Price" />
                            </td>
                            <td>
                                <input type="text" class="full-width no-border-input" formControlName="cost" placeholder="cost" readonly/>
                            </td>
                            <td>
                                <!-- <div (click)="removeProduct(i)"> -->
                                <div (click)="checkFormControlStatusInFormArray(i)">
                                    <mat-icon>close</mat-icon>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="items.controls.length > 0">
                            <td colspan="4" class="text-right">Total Cost:</td>
                            <td colspan="2">{{totalCost || 0.00}}</td>
                        </tr>

                        <tr *ngIf="items.controls.length === 0">
                            <td colspan="6">
                                <p class="text-center">
                                    <span>No data found</span>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div fxFlex="calc(100% - 40px)">
                <button mat-raised-button type="submit" [disabled]="purchaseOrderFormGroup.invalid">Save</button>
                <button mat-raised-button type="button" (click)="purchaseOrderFormGroup.reset()">Reset</button>
            </div>

        </div>
    </form>
</div>