<mat-card>
    <mat-card-title>
        <h4>Create Product</h4>
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="productForm" fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayoutGap="15px" (ngSubmit)="saveProduct()">

            <div fxFlex="calc(50%-15px)">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" placeholder="Name">
                    <mat-error *ngIf="">

                    </mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="calc(50%-15px)">
                <mat-form-field appearance="outline">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status">
                        <mat-option value="">--select status--</mat-option>
                        <mat-option value="ACTIVE">Active</mat-option>
                        <mat-option value="NONACTIVE">Not Active</mat-option>
                        <mat-option value="SUSPEND">Suspend</mat-option>
                    </mat-select>
                    <mat-error *ngIf="">

                    </mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="calc(100%-15px)">
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description" matAutosize="true" matAutosizeMinRows="2" placeholder="Description"></textarea>
                    <mat-error *ngIf="">

                    </mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="calc(100%-15px)">
                <p class="subHeading">Features</p>
                <table id="featuresTable" formArrayName="features">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Description</th>
                            <th>order</th>
                            <th>action</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let featr of features.controls; let i = index" [formGroupName]="i">
                            <td>
                                <span>{{i+1}}</span>
                            </td>
                            <td>
                                <div>
                                    <textarea formControlName="feature" rows="1" placeholder="Feature" [ngClass]="{'border-red' : featuresAtIndx(i).controls.feature.invalid && (featuresAtIndx(i).controls.feature.touched || featuresAtIndx(i).controls.feature.dirty)}"></textarea>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input formControlName="order" placeholder="order" [ngClass]="{'border-red' : featuresAtIndx(i).controls.order.invalid && (featuresAtIndx(i).controls.order.touched || featuresAtIndx(i).controls.order.dirty)}">
                                </div>
                            </td>
                            <td>
                                <div fxLayout fxLayoutAlign="space-around center" fxLayoutGap="10px">
                                    <button type="button" mat-mini-fab (click)="removeFeature(i)"><mat-icon>remove</mat-icon></button>
                                    <button type="button" mat-mini-fab (click)="addFeature()" *ngIf="i+1 == features.controls.length"><mat-icon>add</mat-icon></button>
                                </div>
                            </td>
                        </tr>

                        <tr *ngIf="!features.controls.length">
                            <td class="noDataFound" colspan="4">
                                <button type="button" mat-mini-fab (click)="addFeature()"><mat-icon>add</mat-icon></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div fxFlex="calc(100%-15px)">
                <p class="subHeading">Supplier</p>
                <table>
                    <tbody>
                        <tr *ngFor="let supplier of suppliers; let i = index;">
                            <td>
                                <app-product-supplier [supplier]="supplier" (remove)="removeSupplier(i)"></app-product-supplier>
                            </td>
                        </tr>
                        <tr>
                            <td [ngClass]="{'noDataFound': suppliers.length === 0, 'addSupplier': suppliers.length}">
                                <button mat-mini-fab type="button" (click)="openSupplierModle()"><mat-icon>add</mat-icon></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div fxFlex="calc(100%-15px)" fxLayout fxLayoutAlign="flex-end center" fxLayoutGap="20px">
                <button mat-raised-button type="button"> reset </button>
                <button mat-raised-button> save </button>
            </div>

        </form>
    </mat-card-content>
</mat-card>
<app-supplier-list *ngIf="supplierListModelStatus" [isOpen]="supplierListModelStatus" [existedSupplierIds]="existedSupplierIds" (closeModel)="closeSupplierModel($event)"></app-supplier-list>

<ng-template #confirmationDialog>
    <div fxLayout="column" fxLayoutAlign="flex-start stretch">
        <div class="confirmation-dialog-header" fxLayout fxLayoutAlign="space-between center">
            <h4>Delete Confirmation</h4>
            <span [mat-dialog-close]="false"><mat-icon>close</mat-icon></span>
        </div>
        <div class="confirmation-dialog-body">
            <p>Are you sure want to delete ?</p>
        </div>
        <div class="confirmation-dialog-footer" fxLayout fxLayoutAlign="flex-end space-around">
            <button mat-flat-button type="button" color="warn" [mat-dialog-close]="true">Yes</button>
            <button mat-flat-button type="button" color="primary" [mat-dialog-close]="false">Cancel</button>
        </div>
    </div>
</ng-template>