<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened>
        <mat-list>
            <mat-list-item> One</mat-list-item>
            <mat-list-item> Salt </mat-list-item>
            <mat-list-item> Paprika </mat-list-item>
            <mat-list-item> Pepper </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
        <mat-list>
            <mat-list-item> One</mat-list-item>
            <mat-list-item> Salt </mat-list-item>
            <mat-list-item> Paprika </mat-list-item>
            <mat-list-item> Pepper </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
    </mat-sidenav-content>
</mat-sidenav-container>