<mat-sidenav-container class="example-container">

    <mat-sidenav #sidenav mode="side" opened>
        <div class="side-bar-header-max">
            <h2>Side bar header</h2>

        </div>
        <mat-list>
            <mat-list-item> One</mat-list-item>
            <mat-list-item> Salt </mat-list-item>
            <mat-list-item> Paprika </mat-list-item>
            <mat-list-item> Pepper </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
        <mat-list>
            <mat-list-item> One</mat-list-item>
            <mat-list-item> Salt </mat-list-item>
            <mat-list-item> Paprika </mat-list-item>
            <mat-list-item> Pepper </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-top-menu></app-top-menu>
    </mat-sidenav-content>
</mat-sidenav-container>