<div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <div>
            <mat-form-field>
                <input matInput placeholder="Email">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="mobile">
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center">
        <div>
            <button matRaisedButton type="button"> Search</button>
        </div>
        <div>
            <button matRaisedButton type="button"> Search</button>
        </div>
    </div>
</div>