<mat-sidenav-container class="page-container">
    <mat-sidenav #sidenav mode="side" opened>
        <div class="side-bar-header-max">
            <h2>Online shoping</h2>
        </div>
        <mat-accordion>
            <mat-expansion-panel *ngFor="let userRoute of userRoutes">
                <mat-expansion-panel-header>
                    <mat-panel-title>{{userRoute.routeDisplayName}}</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list>

                    <mat-list-item *ngIf="userRoute.subRoutes.length == 0">
                        <a [routerLink]="[{outlets: { home : [userRoute.route]}}]">{{userRoute.routeDisplayName}}</a>
                    </mat-list-item>

                    <ng-container *ngIf="userRoute.subRoutes.length > 0">
                        <mat-list-item *ngFor="let subUserRoute of userRoute.subRoutes">
                            <a [routerLink]="[{outlets: { home : [userRoute.route, subUserRoute.route]}}]">{{subUserRoute.routeDisplayName}}</a>
                        </mat-list-item>
                    </ng-container>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-top-menu (sideNavToggleButtonStateChange)="toggleSideMenuContainer($event)"></app-top-menu>
        <div class="main-app-container">
            <router-outlet name='home'></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>